.call-to-action {
  padding: 5rem 0;
}

.cta-container {
  max-width: 56rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.cta-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5rem;
  line-height: 1.25;
}

.cta-subtitle {
  font-size: 1.25rem;
  color: #d1d5db;
  margin-bottom: 2rem;
}

.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.cta-primary {
  position: relative;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 12px;
  background: #10021b; /* Inner background */
  z-index: 0;
}

.cta-primary::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(270deg, var(--border-colors));
  background-size: 400% 400%;
  border-radius: inherit;
  z-index: -1;
  animation: borderGradient 6s linear infinite;
}
@keyframes borderGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cta-secondary {
  background-color: transparent;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.cta-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

@media screen and (max-width: 640px) {
  .cta-title {
    font-size: 2.5rem;
  }

  /* .cta-buttons {
    font-size: 0rem;
   
  }
   */
}
