.theme-toggle {
  background: var(--toggle-bg);
  cursor: pointer;
  padding: 0 5px;
  transition: background 0.3s ease;
}

/* Icons (Sun & Moon) */
.sun-icon {
  color: #121212;
  height: 1.7rem;
  width: 1.7rem;
}
.moon-icon {
  color: #fff;
  height: 1.5rem;
  width: 1.5rem;
}
