.repo-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.repo-card {
  background: var(--bg-color);
  border-radius: 8px;
  margin: 0;
  padding: 0 16px;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.repo-meta {
  text-align: left;
  margin: 0;
}
.repo-meta h4 {
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 0;
}
