nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--toggle-border);
  /* box-shadow: var(--box-shadow); */
  z-index: 10;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}
.nav-container img {
  width: 7rem;
  height: auto;
}
