.waitlist {
  display: flex;
  place-content: center;
  justify-content: center;
  transform: translate(0%, 30%);
  position: relative;
}

.waitlist-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.waitlist form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.waitlist form input {
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background: var(--toggle-border);
  padding: 2px 5px;
  font-weight: 500;
  padding: 0.8rem 1rem;
}

.waitlist .products {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  place-content: center;
  padding: 1rem;
}

.waitlist .products div {
  box-shadow: var(--box-shadow);
  background-color: var(--toggle-border);
  padding: 3rem 1rem;
  border-radius: 10px;
}
.waitlist .products div p {
  color: #aaa;
}

@media screen and (max-width: 500px) {
  .waitlist form {
    flex-direction: column;
    padding: 1rem;
  }
  .waitlist form input {
    width: auto;
  }
}
@media screen and (max-width: 810px) {
  .waitlist {
    transform: translate(0%, 10%);
  }
}
