:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* --primary-color: #2563eb;
  --text-color: #121212;
  --toggle-border: #dddddd;
  --toggle-bg: #f0f0f0;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --bg-color: #fff;
  --border-colors: #10021b, #20003f, #150126, #ff00a8, #7000ff, #00a8ff;
  --bg-hero: rgba(16, 2, 27, 0.8);
 
  --small-color: #aaaaaa; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #f9fafb;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  --text-color: #111827;
  --text-second: #4b5563;
  --primary-color: #3b82f6;
  --toggle-border: #e5e7eb;
  --card-bg: #dddddd;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 95.8%;
}

.dark-theme {
  --bg-color: #121212;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  --text-color: #ffffff;
  --text-second: #4b5563;
  --primary-color: #3b82f6;
  --toggle-border: #e5e7eb;
  --card-bg: rgba(255, 255, 255, 0.1);

  /* --bg-color: linear-gradient(90deg, #10021b, #20003f, #150126); */
  /* --bg-color: #0a0f14;
  --primary-color: #1e40af;
  --text-color: #f0f0f0;
  --toggle-bg: #333333;
  --toggle-border: #666666;
  --bg-hero: linear-gradient(90deg, #10021b, #20003f, #150126);
  --card-bg: rgba(255, 255, 255, 0.1); */
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
input {
  font-size: 16px;
  outline: none;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 90%;
  }
}
